
<!--<table cellspacing="0">-->
  <!--<tr *ngFor="let row of view">-->
    <!--<td *ngFor="let cell of row"><img src="{{cell}}" style="display: block;"></td>-->
  <!--</tr>-->
<!--</table>-->

<div *ngIf ="tileView">
  <table cellspacing="0" align="center">
    <tr *ngFor="let row of tileView">
      <td *ngFor="let cell of row"><img src="{{cell.sprite}}" style="display: block;"></td>
    </tr>
  </table>

</div>



<!--<table cellspacing="0" align="center">-->
  <!--<tr *ngFor="let row of viewTiles">-->
    <!--<td *ngFor="let cell of row"><img src="{{cell.sprite}}" style="display: block;"></td>-->
  <!--</tr>-->
<!--</table>-->

<div>Current player is {{currentPlayer}}</div>

<button (click)="logOut()" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;
   margin: auto;">Logout</button>
