<embed [hidden]="true"
src="http://66.90.93.122/ost/pokemon-yellow-blue-red-gb/xhblncow/30_Cycling.mp3"
loop="true"
autostart="true">


<!--<table cellspacing="0">-->
  <!--<tr *ngFor="let row of view">-->
    <!--<td *ngFor="let cell of row"><img src="{{cell}}" style="display: block;"></td>-->
  <!--</tr>-->
<!--</table>-->

<div *ngIf ="spriteView && player">
  <table cellspacing="0" align="center">
    <tr *ngFor="let row of spriteView">
      <td *ngFor="let cell of row"><img src="{{cell}}" style="display: block;"></td>
    </tr>
  </table>

  <table align="center">
    <tr>
      <td></td>
      <td><button (click)="movePlayerUpdate(0,-1)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">↑</button></td>
      <td></td>
    </tr>

    <tr>
      <td><button (click)="movePlayerUpdate(-1,0)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">←</button></td>
      <td></td>
      <td><button (click)="movePlayerUpdate(1,0)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">→</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="movePlayerUpdate(0,1)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">↓</button></td>
      <td></td>
    </tr>
  </table>
</div>


<button (click)="logOut()" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;
   margin: auto;">Logout</button>

<button (click)="onEncounter()">show overlay</button>

<div *ngIf="encounter" class="overlay">
  <div class="overlay-content">
    <h1 class="btn btn.disabled btn-light btn-lg btn-block">A wild 🅱️okemon wants to battle!</h1>
    <button (click)="enterBattle()" class="btn btn-dark btn-lg btn-block">① Accept battle</button>
    <button (click)="closeOverlay()" class="btn btn-dark btn-lg btn-block">② Decline battle </button>
  </div>
</div>


<!--<table cellspacing="0" align="center">-->
  <!--<tr *ngFor="let row of viewTiles">-->
    <!--<td *ngFor="let cell of row"><img src="{{cell.sprite}}" style="display: block;"></td>-->
  <!--</tr>-->
<!--</table>-->





<!--<button (click)="logOut()" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;-->
   <!--margin: auto;">Logout</button>-->
  <!--<button (click)="movePlayerUpdate(1,0)" class="btn btn-primary btn-lg btn-block" style="width: 64px; height:64px">↑</button>-->
  <!--<button (click)="movePlayerUpdate(0,1)" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;-->
   <!--margin: auto;">Move Down</button>-->
  <!--<button (click)="movePlayerUpdate(0,-1)" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;-->
   <!--margin: auto;">Move Up</button>-->

<div *ngIf="player">Current player is {{player.world}}</div>
