
<!--<table cellspacing="0">-->
  <!--<tr *ngFor="let row of view">-->
    <!--<td *ngFor="let cell of row"><img src="{{cell}}" style="display: block;"></td>-->
  <!--</tr>-->
<!--</table>-->

<div *ngIf ="spriteView">
  <table cellspacing="0" align="center">
    <tr *ngFor="let row of spriteView">
      <td *ngFor="let cell of row"><img src="{{cell}}" style="display: block;"></td>
    </tr>
  </table>

  <table align="center">
    <tr>
      <td></td>
      <td><button (click)="movePlayerUpdate(0,-1)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">↑</button></td>
      <td></td>
    </tr>

    <tr>
      <td><button (click)="movePlayerUpdate(-1,0)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">←</button></td>
      <td></td>
      <td><button (click)="movePlayerUpdate(1,0)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">→</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="movePlayerUpdate(0,1)" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">↓</button></td>
      <td></td>
    </tr>
  </table>
</div>



<!--<table cellspacing="0" align="center">-->
  <!--<tr *ngFor="let row of viewTiles">-->
    <!--<td *ngFor="let cell of row"><img src="{{cell.sprite}}" style="display: block;"></td>-->
  <!--</tr>-->
<!--</table>-->





<!--<button (click)="logOut()" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;-->
   <!--margin: auto;">Logout</button>-->
  <!--<button (click)="movePlayerUpdate(1,0)" class="btn btn-primary btn-lg btn-block" style="width: 64px; height:64px">↑</button>-->
  <!--<button (click)="movePlayerUpdate(0,1)" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;-->
   <!--margin: auto;">Move Down</button>-->
  <!--<button (click)="movePlayerUpdate(0,-1)" class="btn btn-primary btn-lg btn-block" style="max-width: 200px;-->
   <!--margin: auto;">Move Up</button>-->

<div *ngIf="player">Current player is {{player.world}}
