<div class="overlay">
  <div class="overlay-content">
    <div class="overlay-content-player">
      <h2 class="title">player: {{player.username}}</h2>
      <img class="player-sprite" src="{{player.sprite}}">
    </div>

    <div class="overlay-content-bokemon">
      <h2 class="title">bokemon: {{this.currentBokemon.name}}</h2>
      <table align="center">
        <tr>
          <td><button (click)="decreaseIndex()" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">←</button></td>
          <td><img class="bokemon-sprite" src="{{this.currentBokemon.template.sprite}}"></td>
          <td><button (click)="increaseIndex()" class="btn btn-dark btn-lg btn-block" style="width: 64px; height:64px">→</button></td>


        </tr>
      </table>
      <ul class="list-group list-group-flush" style="text-align: center">
        <li class="list-group-item">level: {{this.currentBokemon.lvl}}</li>
        <li class="list-group-item">max hp: {{this.currentBokemon.maxHp}}</li>
        <li class="list-group-item">attack: {{this.currentBokemon.atk}}</li>
        <li class="list-group-item">defence: {{this.currentBokemon.def}}</li>
        <li class="list-group-item">speed: {{this.currentBokemon.spd}}</li>
        <!--<li class="list-group-item">other bokemon: {{player.bokemons[0].name}}</li>-->
        <!--<li class="list-group-item">other bokemon: {{player.bokemons[1].name}}</li>-->
      </ul>
    </div>

    <button (click)="onClose()" class="btn btn-primary btn-lg btn-block" style="margin-top: 3%;">close</button>
  </div>
</div>
