<p>Hello new player, welcome to the world of Bokemon!</p>
<p>Please enter a username and password to create an account</p>
<form [formGroup]="signupPage" (ngSubmit)="checkUser($event)">
  <input formControlName="username" type="text" placeholder="username">
  <input formControlName="password" type="password" placeholder="password">
  <button type="submit">Create new account</button>
</form>
<!--<div [hidden]="isNewuser"></div>-->


<!--<form>-->
  <!--<div class="form-group">-->
    <!--<label for="username1">User name </label>-->
    <!--<input type="username" class="form-control" id="username1" aria-describedby="username" placeholder="Username">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="InputPassword1">Password </label>-->
    <!--<input type="password" class="form-control" id="InputPassword1" placeholder="Password">-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary">Create account</button>-->
<!--</form>-->
