<div *ngIf="selectedStarter" style="max-width: 800px; margin: auto;">
  <!--<p>Hello new player, welcome to the world of Bokemon!</p>-->
  <!--<p>Please enter a username and password to create an account</p>-->
  <h3 style="text-align: center; padding: 4%;">Create new Account</h3>
  <form [formGroup]="signupPage" (ngSubmit)="onSignup($event)">

    <!-- Username input field-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Username</span>
      </div>
      <input class="form-control" formControlName="username" type="text" placeholder="username">
    </div>

    <!-- Password input field-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Password</span>
      </div>
     <input class="form-control" formControlName="password" type="password" placeholder="password">
    </div>

    <table align="center" style="width: 100%;">
      <tr>

        <td *ngFor="let b of starterTemplates">
          <!--<img src="{{b.sprite}}">-->
          <button class="btn btn-outline-primary" type="button" (click)="onStarterSelect(b)" style="padding: 8px;"><img src="{{b.sprite}}"></button>
        </td>
      </tr>
    </table>

    <table align="center" style="width: 100%;">
      <tr>
        <td style="width: 50%"><button type="submit" class="btn btn-primary btn-lg btn-block" style="margin: auto;">create account</button></td>
        <td style="width: 50%"><button type="button" (click)="onGoToLogin()" class="btn btn-primary btn-lg btn-block" style="margin: auto;">return to login</button></td>
      </tr>
    </table>
  </form>
</div>
