<!--<embed [hidden]="true"-->
       <!--src="https://downloads.khinsider.com/game-soundtracks/album/pokemon-yellow-blue-red-gb/28_Battle%2520%2528VS%2520Gym%2520Leader%2529.mp3"-->
       <!--loop="true"-->
       <!--autostart="true">-->

<embed [hidden]="true"
       src="http://66.90.93.122/ost/pokemon-yellow-blue-red-gb/gppppdyn/28_Battle%20%28VS%20Gym%20Leader%29.mp3"
       loop="true"
       autostart="true">

<div class="jumbotron jumbotron-fluid">
  <div class="container" align="center">
    <h1 class="display-4">🅱️ATTLE!!!</h1>
    <!--<p class="lead">Welcome to the wonderous world of Bokemon.</p>-->
  </div>
</div>
<h2  align="center" *ngIf="wildBokemon"><b>{{"A wild " + wildBokemon.template.name + " appeared!"}}</b></h2>
<h2  align="center" *ngIf="playerBokemon"><b>{{"Fight it with your " + playerBokemon.template.name}}</b></h2>
<p></p>
<table align="center">
  <tr>
   <td style="background-color: darkseagreen">
     <div *ngIf="playerBokemon">
       <div>{{playerBokemon.template.name}}</div>
       <div>{{" Level: " + playerBokemon.lvl + " Hitpoints: " + playerBokemon.hp + "/" + playerBokemon.maxHp}}</div>
       <p></p>
       <img *ngIf="playerBokemon" src="{{playerBokemon.template.sprite}}">
     </div>
   </td>
    <td></td>
    <td><H5>VS</H5></td>
    <td></td>
    <td style="background-color: #dbbfc4">
      <div *ngIf="wildBokemon">
        <div>{{wildBokemon.template.name}}</div>
        <div>{{"Level: " + wildBokemon.lvl + " Hitpoints: " + wildBokemon.hp + "/" + wildBokemon.maxHp}}</div>
        <p></p>
        <img *ngIf="wildBokemon" src="{{wildBokemon.template.sprite}}">
      </div>
    </td>
  </tr>
</table>

<p></p>
<table align="center">
  <tr>
    <td><button style="text-align: left" class="btn btn-primary btn-lg btn-block" (click)="attackBokemon()">① Attack!</button></td>
    <td><button style="text-align: left" class="btn btn-primary btn-lg btn-block" (click)="useItem()">② Use item</button></td>
  </tr>
  <tr>
    <td><button style="text-align: left" class="btn btn-primary btn-lg btn-block" (click)="catchBokemon()">③ Catch Bokemon</button></td>
    <td><button style="text-align: left" class="btn btn-primary btn-lg btn-block" (click)="run()">④ Run from battle</button></td>
  </tr>
<p></p>
</table>

<div style="background-color: #dffcff; width: 40%; margin-left: auto; margin-right: auto" align="center" [innerHTML]="battleText" *ngIf="wildBokemon && playerBokemon"></div>






<!--<div *ngIf="wildBokemon">-->
  <!--<div>{{"A wild " + wildBokemon.template.name + " appeared!"}}</div>-->
  <!--<div>{{"Level: " + wildBokemon.lvl + " Hitpoints: " + wildBokemon.hp + "/" + wildBokemon.maxHp}}</div>-->
  <!--<p></p>-->
  <!--<img *ngIf="wildBokemon" src="{{wildBokemon.template.sprite}}">-->
<!--</div>-->

<!--<div *ngIf="playerBokemon">-->
  <!--<p></p>-->
  <!--<button (click)="attackBokemon()">Attack!</button><button (click)="useItem()">Use item</button>-->
  <!--<button (click)="catchBokemon()">Catch Bokemon</button><button (click)="run()">Run from battle</button>-->
  <!--<p></p>-->
  <!--<div>{{"Fight it with your " + playerBokemon.template.name}}</div>-->
  <!--<div>{{" Level: " + playerBokemon.lvl + " Hitpoints: " + playerBokemon.hp + "/" + playerBokemon.maxHp}}</div>-->
  <!--<p></p>-->
  <!--<img *ngIf="playerBokemon" src="{{playerBokemon.template.sprite}}">-->
<!--</div>-->

<!--<div [innerHTML]="battleText" *ngIf="wildBokemon && playerBokemon"></div>-->

