<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">🅱️okemon</h1>
    <p class="lead">Welcome to the wonderous world of Bokemon.</p>
  </div>
</div>

<div style="max-width: 800px; margin: auto;">
<form [formGroup]="loginPage" (ngSubmit)="verifyUser($event)">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Username</span>
    </div>
    <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Password</span>
    </div>
    <input formControlName="password" type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block" style="max-width: 200px; margin: auto;">Login</button>
</form>

<p></p>

  <div>Don't have an account yet?</div>
<form [formGroup]="loginPage" (ngSubmit)="goToSignup()">

  <button type="submit" class="btn btn-primary btn-lg btn-block" style="max-width: 200px; margin: auto;">Sign up instead</button>
</form>
</div>

